*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

li{
  list-style-type: none;
}

.debug{
  background-color: rgba(127, 255, 255, 0.151);
  border: 1px solid black;
  min-height: 50px;
}

.d-flex{
  display: flex;
}

.container-hf{
  max-width: 1180px;
  margin: 0 auto;
}

.button{
  background-color: blue;
  padding: 5px 15px;
  color: white;
}
/***************HEADER***************/


header .col:first-child{
  width: 35%;
}

header .col:last-child{
  width: 65%;
}

.header-top{
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-top li{
  display: inline;
  height: 80px;

}

header ul{
  height: 100%;
  align-items: center;
}

nav{
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav ul li{
  justify-content: space-around;
  align-items: center;
}

a{
  line-height: 80px;
  padding: 27px 15px;
  text-decoration: none;
}

a.button{
  line-height: 20px;
  margin: 26px;
  padding: 5px 15px;
}

a img{
  margin-top: 25px;
}