*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

li{
  list-style-type: none;
}

h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
}

h3{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}

section{
  margin-bottom: 150px;
}

a.button{
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 10px;
}

.debug{
  background-color: rgba(127, 255, 255, 0.151);
  border: 1px solid black;
  min-height: 50px;
}

.d-flex{
  display: flex;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 150px;
}

.container-hf{
  max-width: 1180px;
  margin: 0 auto;
}

.button{
  background-color: #0061FF;
  padding: 12px 15px;
  color: white;
}

/***************HEADER***************/

.hero{
  background-color: #B4D0E7;
  max-height: 730px;
}

header .col:first-child{
  width: 31%;
}

header .col:last-child{
  width: 69%;
}

.header-top{
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-top li{
  display: inline;
  height: 80px;

}

header ul{
  height: 100%;
  align-items: center;
}

nav{
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav ul li{
  justify-content: space-around;
  align-items: center;
}

.header-top a{
  line-height: 80px;
  padding: 27px 15px;
  text-decoration: none;
  font-weight: 600;
}

a.button{
  line-height: 30px;
  padding: 6px 15px;
}

a img{
  margin-top: 25px;
}

.hero h1{
  font-size: 75px;
  font-weight: 800;
  padding-top: 80px;
  padding-bottom: 50px;
}

.hero .col:first-child{
  position: relative;
}

.hero .col img{
  max-width: 810px;
}

.hero a.button{
  display: inline-block;
  margin: 32px 0;
  text-decoration: none;
}

.hero .col a:last-child{
  position: absolute;
  bottom: 80px;
  left: 0;
  font-size: 50px;
  color: black;
}

header .button:hover{
  background-color: #3f89ff;
}

header a.b-b:hover{
  border-bottom: 2px solid black;
}
/***************MAIN***************/
main{
  font-size: 14px;
}

.card{
  width: 100%;
}

.card-bottom .inner-conteiner{
  position: relative;
  width: 1000px;
}

.inner-conteiner{
  padding: 30px 30px;
}

.fatturazione{
  display: inline;
  margin-right: 50px;
}

#tariffa .row{
  justify-content: space-between;
  margin-top: 50px;
}

#tariffa .col{
  width: 100%;
  margin: 0;
}

#tariffa .row div.col{
  width: 300px;
  margin-bottom: 50px;
}

#tariffa span.category{
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D0D0D3;
}

#tariffa li{
  padding: 0 0 25px 30px;
  position: relative;
}

#tariffa span.price{
  font-weight: 800;
  line-height: 40px;
}

#tariffa span.time{
  display: block;
  margin-bottom: 50px;
}

#tariffa a.button{
  display: block;
  margin: 30px auto;
  text-align: center;
}

#tariffa .or{
  padding-bottom: 30px;
  border-bottom: 1px solid #D0D0D3;
}


#tariffa span.or a{
  padding-bottom: 30px;
  border-bottom: 3px solid white;
}

#tariffa ul.check{
  margin-top: 60px;
}

#tariffa ul.check li:first-child{
  font-weight: 800;
  padding-left: 0;
}

.card-bottom a.button.cb{
  display: block;
  position: absolute;
  padding: 5px 40px;
  top: 30px;
  right: 30px;
}

#tariffa .button:hover{
  background-color: #3f89ff;
}

/************SECTION PARTNER*/

#partner .pic{
  max-width: 60%;
}

#partner img{
  width: 100%;
} 

#partner .text{
  max-width: 40%;
  padding: 60px 50px;
}

#partner p{
  font-size: 16px;
}

#partner .c-white{
  display: inline-block;
  margin-top: 30px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
}

#partner .c-white:hover{
  margin-top: 30px;
  background-color: rgb(192, 192, 192);
  border: 1px solid rgb(231, 225, 225);
  color: white;
}

/*******************SECTION TEAM*/
#team{
  max-width: 60%;
}
/* CONTROLLAREEEE */
#tariffa li.user::before{
  content:'\f0c0';
  position: absolute;
  left: 0;
}

